#page-title { font-size: 48px; color: rgb(79, 14, 14); }
.subtitle { color: rgb(89, 39, 10); }
body {
  margin-bottom: 400px;
  color: #5b0c00;
  background-color: #df5b5b;
  font-family: Tahoma, Tahoma;
}
.favorites {
  text-align: left;
  margin-top: auto;
  padding: auto;
  border: #5b0c00 solid 5px;
}
