#page-title { font-size: 48px; color: rgb(187, 110, 97); }
.subtitle { color: rgb(255, 94, 0); }
body {
  margin-bottom: 400px;
  color: #5b0c00;
  background-color: #df5b5b;
  font-family: Georgia, serif;
}
.favorites {
  margin-top: auto;
  padding: auto;
  border: #5b0c00 solid 5px;
}
